.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
}

.leftSide {
  width: 60%;
}
.leftSide svg {
  position: relative;
  width: 40%;
  top: 35%;
  left: 5%;
}

.rightSide {
  width: 45%;
  display: flex;
  flex-direction: column;
  background: #15202b;
  color: #ffffff;
  padding: 16px;
}
.rightSide .singInBlock {
  width: 100%;
  padding: 20px;
  margin: auto;
}
.rightSide .description {
  display: flex;
  flex-direction: column;
}
.rightSide .description .descriptionBigText {
  font-family: "Arial Black", serif;
  font-size: 64px;
  line-height: 78px;
  margin: 48px 0;
  font-weight: 700;
}
.rightSide .description .descriptionSmallText {
  font-family: "Arial Black", serif;
  font-size: 31px;
  line-height: 36px;
  margin: 0 0 32px;
}
.rightSide .buttonBlock {
  display: flex;
  flex-direction: column;
}
.rightSide .buttonBlock .register {
  display: block;
  color: #fff;
  border: 1px solid #1da1f2;
  background: #1da1f2;
  height: 3.1em;
  border-radius: 1.5em;
  font-size: 1em;
  margin: 0 0 20px;
  padding: 0 32px;
  cursor: pointer;
  width: 25em;
}
.rightSide .buttonBlock .register:hover {
  background: #1a91da;
}
.rightSide .buttonBlock .login {
  border: 1px solid #1da1f2;
  display: block;
  color: #fff;
  background: none;
  height: 3.1em;
  border-radius: 1.5em;
  font-size: 1em;
  margin: 0 0 20px;
  padding: 0 32px;
  cursor: pointer;
  width: 25em;
}
.rightSide .buttonBlock .login:hover {
  background: rgba(29, 161, 242, 0.1);
}

/*# sourceMappingURL=SingIn.css.map */
