

.wrapper {
  display: flex;
  //flex-direction: row-reverse;
  //width: 100%;
  //height: 100vh;
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
}

.leftSide {
  width: 60%;

  .leftTwitter {
    width: 32em;
    margin: 19em auto;
  }
}

.rightSide {
  width: 45%;
  flex-direction: column;
  background: #15202b;
  color: #ffffff;
  padding: 16px;

  .singInBlock {
    padding: 20px;
    margin: 14em auto;
  }

  .description {
    display: flex;
    flex-direction: column;

    .descriptionBigText {
      font-family: "Arial Black", serif;
      font-size: 64px;
      line-height: 78px;
      margin: 48px 0;
      font-weight: 700;
    }

    .descriptionSmallText {
      font-family: "Arial Black", serif;
      font-size: 31px;
      line-height: 36px;
      margin: 0 0 32px;
    }
  }

  .buttonBlock {
    display: flex;
    flex-direction: column;

    .register {
      display: block;
      color: #fff;
      border: 1px solid #1da1f2;
      background: #1da1f2;
      height: 3.1em;
      border-radius: 1.5em;
      font-size: 1em;
      margin: 0 0 20px;
      padding: 0 32px;
      cursor: pointer;
      width: 25em;

      &:hover {
        background: #1a91da;
      }
    }

    .login {
      border: 1px solid #1da1f2;
      display: block;
      color: #fff;
      background: none;
      height: 3.1em;
      border-radius: 1.5em;
      font-size: 1em;
      margin: 0 0 20px;
      padding: 0 32px;
      cursor: pointer;
      width: 25em;

      &:hover {
        background: rgba(29, 161, 242, 0.1);
      }
    }
  }
}
