.left-panel {
  background: #15202b;
  color: #fff;
  min-height: 100%;

  .container {
    position: fixed;
  }

  header svg {
    height: 1.9em;
    margin: 1.7em 0 1.7em 4em;
  }

  .menu {
    margin-right: 12px;
  }

  nav {
    padding-left: 3em;
  }

  nav svg {
    height: 1.3em;
    margin-right: 0.9em;
  }

  nav > *,
  button.more {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
    padding: 0em;

    span {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 2.4em;
      padding-left: 0.7em;
    }

    &:hover span {
      color: #1da1f2;
      background: #192734;
      border-radius: 1.5em;
    }
  }

  nav .selected {
    color: #1da1f2;
  }

  button {
    background: unset;
    border: unset;
  }

  button.tweet {
    display: block;
    color: #fff;
    background: #1da1f2;
    height: 3em;
    border-radius: 1.5em;
    font-size: 1em;
    margin-top: 1.5em;
    margin-left: 4.2em;
    cursor: pointer;
    width: 13em;

    &:hover {
      background: #1a91da;
    }
  }

  button.tweetMini {
    display: block;
    color: #fff;
    background: #1da1f2;
    height: 3em;
    border-radius: 1.5em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 3.3em;
    cursor: pointer;
    width: 3em;

    &:hover {
      background: #1a91da;
    }
  }

  footer {
    bottom: 1.5em;
    margin-top: 13em;
    padding-left: 3em;

    button.account {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
      color: #fff;
      font-size: 1em;

      .photo {
        border-radius: 100%;
        height: 2.5em;
        width: 2.5em;
        background: #192734;
        margin-left: 0.5em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
        }
      }

      .name {
        font-weight: 700;
      }

      .username {
        color: #8899a6;
      }
    }
  }
}
